body{
    margin:50px;
    padding:0px;
    border:1px black solid;
    width: 500px;
    height: 250px;
    background-color:grey;
}
#dino{
    position:absolute;
    top:220px;
    left:60px;
    height: 80px;
    width: 80px;
}
.animate{
    animation: jump 500ms;
}
#score{
    position: absolute;
    top:5px;
    left:240px;
    color:aliceblue;
    font-size:37px;
}
#obj{
    position:absolute;
    top:280px;
    background-color:black;
    height:20px;
    width:20px;  
    left:430px; 
    animation:run infinite 2s;
}
#cloud{
    position: absolute;
    top: 80px;
    left: 550px;
    animation:float infinite 8s;
}
@keyframes run{
    0%{left:500px;}
    30%{left:320px;}
    100%{left:-40px;}
}
@keyframes jump{
    0%{top:100px;}
    40%{top:100px;}
    100%{top:100px;}
}
@keyframes float{
    100%{left:530px;}
    0%{left:-10px;}
}
#gameplay{
    color:red;
    background-color:black;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top:10px;
    left:50px;   
}
#start{
    position: absolute;
    font-size: large;
    top: 350px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;

}
#jmp{
    position: absolute;
    font-size: large;
    top: 350px;
    left: 100px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}